<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>诗词博物馆-月旦评</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/icons/grade_index.ico"/>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css"/>
	</head>
	<body>
		<div id="grade_page" style="display:none;">
			<div id="grade_page_nav">
				<div id="nav">
					<div id="nav_logo" @click="new_nav('main')"></div>
					<div id="nav_content">
						<ul id="nav_content_ul">
							<li @click="new_nav('search')"><i class="fa fa-search"></i>尔雅集</li>
							<li @click="new_nav('study_index')"><i class="fa fa-graduation-cap"></i>沧海鉴</li>
							<li @click="new_nav('exam_index')"><i class="fa fa-pencil-square-o"></i>青衿行</li>
							<li @click="new_nav('grade_index')"><i class="fa fa-wechat"></i>月旦评</li>
							<li @click="new_nav('college_index')" style="border-right-style:none;">
								<i class="fa fa-trophy"></i>兰亭会
							</li>
							<li id="nav_state" v-show="!is_log_in">
								<span id="nav_log_in" @click="new_nav('log_in')">登录</span>
								<span id="nav_sign_up" @click="new_nav('sign_up')">注册</span>
							</li>
							<img id="nav_avatar" v-show="is_log_in" src="images/demo/avatar.jpg" class="round_icon">
						</ul>
					</div>
				</div>
			</div>
			<div style="display:flex; flex-direction:row;">
				<div id="grade_page_sidebar" style="width:13%;">
					<div style="height:50px;"></div>
					<div v-for="(item,index) in years" :key="index">
						<div @click="up_down(index)" id="side_item1">{{ item.year }}</div>
						<div v-for="(month,index) in item.month" :key="index" id="side_item2">{{ month }}</div>
					</div>
				</div>
				<div style="width:90%;">
					<div style="height:50px;"></div>
					<div id="question_title">#谈谈你最喜欢的一句诗？#</div>
					<section id="gallery-wrapper">
						<article class="white-panel">
							<img src="images/grade/img/1.jpg" class="thumb">
							<h1><a href="#">梅小苏</a></h1>
							<h5>当年万里觅封侯，匹马戍梁州</h5>
							<button onclick="new_page('grade_content','this')">阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/2.jpg" class="thumb">
							<h1><a href="#">方小敖</a></h1>
							<h5>老阮不狂谁会得，出门一笑大江横</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/3.jpg" class="thumb">
							<h1><a href="#">宫羽</a></h1>
							<h5>此时相望不相闻，愿逐月华流照君</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/4.jpg" class="thumb">
							<h1><a href="#">牧之</a></h1>
							<h5>仰天大笑出门去，我辈岂是蓬蒿人</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/5.jpg" class="thumb">
							<h1><a href="#">萧景琰</a></h1>
							<h5>却将万字平戎策，换得东家种树书</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/6.jpg" class="thumb">
							<h1><a href="#">崔中石</a></h1>
							<h5>但愿人长久，千里共婵娟</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/7.jpg" class="thumb">
							<h1><a href="#">林妹妹</a></h1>
							<h5>花谢花飞花满天，红消香断有谁怜？</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/8.jpg" class="thumb">
							<h1><a href="#">飞流</a></h1>
							<h5>我本桀骜少年臣</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/9.jpg" class="thumb">
							<h1><a href="#">婉容</a></h1>
							<h5>背灯和月就花阴，已是十年踪迹十年心</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/10.jpg" class="thumb">
							<h1><a href="#">景睿</a></h1>
							<h5>桃李春风一杯酒，江湖夜雨十年灯</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/11.jpg" class="thumb">
							<h1><a href="#">霓凰</a></h1>
							<h5>涉江采芙蓉，兰泽多芳草</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/12.jpg" class="thumb">
							<h1><a href="#">周小韵</a></h1>
							<h5>昆山玉碎凤凰叫，芙蓉泣露香兰笑</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/13.jpg" class="thumb">
							<h1><a href="#">李白的酒壶</a></h1>
							<h5>吾爱孟夫子，风流天下闻</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/14.jpg" class="thumb">
							<h1><a href="#">皮皮虾</a></h1>
							<h5>昔我往矣，杨柳依依</h5>
							<button>阅读</button>
						</article>
						<article class="white-panel">
							<img src="images/grade/img/15.jpg" class="thumb">
							<h1><a href="#">姜文的迷妹</a></h1>
							<h5>素衣莫起风尘叹，犹及清明可到家</h5>
							<button>阅读</button>
						</article>

					</section>		
				</div>
			</div>
		</div>
		
		<script src="js/globe.js"></script>
		<script src="js/grade.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/pinterest_grid.js"></script>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
			var fileref = document.createElement('link');
				fileref.setAttribute("rel","stylesheet");
				fileref.setAttribute("type","text/css");
				if(active == "dev") {
					fileref.setAttribute("href","css/dev_grade.css");
				}
				else if(active == "pro") {
					fileref.setAttribute("href","css/pro_grade.css");
				}
				document.getElementsByTagName("head")[0].appendChild(fileref);
			$(function(){
				$("#gallery-wrapper").pinterest_grid({
					no_columns: 4,
					padding_x: 10,
					padding_y: 10,
					margin_bottom: 50,
					single_column_breakpoint: 700
				});
			});
		</script>
	</body>
</html>
